/**
 TODO(you): Write the CSS necessary to complete HW1!
*/
@font-face {
  font-family: Source Sans Pro;
  src:url(source-sans-pro-v11-latin-regular.ttf);
}

@@font-face {
  font-family: Roboto Slab;
  src:url(roboto-slab-v8-latin-regular.ttf);
}

.font{
  position:absolute;
  font-family: serif;
  font-weight: normal;
  max-width: 780px;
  text-align: center;
  font-size: 36px;
  color:#fff;
  top:200px;
  left:21%;
}

img[title="profile"]{
  position: relative;
  display: block;
  margin:auto;
  top: -50px;
  border-radius: 100%;
  border-color: white;
  border-width: 1px;
  height: 100px;
  width:100px;
}

.content{
  width: 66.67%;
  margin: 0 auto;
  display: block;
  position: relative;
  padding-top: 60px;

}

.content a{
  text-decoration: none;
  color:#42b4d6;
  position: relative;
  top:-10px;
  font-size: 18px;
}

.list {
  font-size: 36px;
}

.list p {
  color:rgb(51, 51, 51);
  font-size: 18px;
}

.profile_font{
  position: relative;
  line-height: 24px;
  color: rgb(51, 51, 51);
  font-size: 18px;
  top:-50px;
  text-align: center;
  font-family: Source Sans Pro ,sans-serif;
}
